.hero {
  height: 640px;
  background-size: cover;
  background-position: left;
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(25, 18, 31);
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;

}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
  padding-top: 90px;
  
  
}

.hero h2 {

  font-weight: 300;

  
  
}
