body {
  font-family: "Alegreya", serif;
}

.wrapper {
  min-height: 80%; */
  padding-bottom: 100px;
  background-color: rgb(25, 18, 31);
  margin-top: 0;
  color: white;
}

#biggest {
  text-align: center;
}

#bigger {
  text-align: center;
}



/* /* a:active {
  color: rgb(192, 237, 255);
} */

a:link {
  color: orange;
}

a:visited {
  color: white;
}

/* a:hover {
  color: rgb(255, 255, 255);
} */
 */
