/* .card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  min-height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
} */




.card {
  margin-bottom: 25px;
  border: none;
  box-shadow: 10px 10px 5px rgba(85, 83, 83, .2);
  z-index: 10;
}

.card a {
  text-decoration: none;
}



.card:visited {
  text-decoration: none;
}

.card-img-top-01,
.card-img-top-02,
.card-img-top-03,
.card-img-top-04,
.card-img-top-05,
.card-img-top-06 {
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.card-img-top-01 {
  background-image: url("https://code0em.github.io/lingua-sonnet/assets/img/book-splash.png");
  background-position: right;
  background-size: cover;
}

.card-img-top-02 {
  background-image: url("https://codeswitchstudio.github.io/bootstrap-portfolio/images/horiseon.jpg");
}

.card-img-top-03 {
  background-image: url("https://codeswitchstudio.github.io/bootstrap-portfolio/images/PepMan.png");
}

.card-img-top-04 {
  background-image: url("https://codeswitchstudio.github.io/bootstrap-portfolio/images/ICEweb.png");
}

.card-img-top-05 {
  background-image: url("https://codeswitchstudio.github.io/bootstrap-portfolio/images/DevPrax.png");
}

.card-img-top-06 {
  background-image: url("https://codeswitchstudio.github.io/bootstrap-portfolio/images/covid-dance.gif");
}

.card-body {
  font-size: medium;
}